

h5 {
  margin: 0px;
  font-size: 1.2vw;
  font-weight: 700;
}

p {
  font-size: 0.7vw;
}

.center {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carreras > ul > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card {
  height: 20vw;
  width: 18vw;
  margin: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

#Curso1-property-image {
  height: 10vw;
  width: 15vw;
  padding: 1vw 2vw;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../img/Github.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#Curso2-property-image {
  height: 10vw;
  width: 15vw;
  padding: 1vw 2vw;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../img/Renderizado_en_servidor_con_angular_universal.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Curso3-property-image {
  height: 10vw;
  width: 15vw;
  padding: 1vw 2vw;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../img/1593065166adobe-photoshop-2020.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Curso4-property-image {
  height: 10vw;
  width: 15vw;
  padding: 1vw 2vw;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../img/React-Native-Titre.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Curso5-property-image {
  height: 10vw;
  width: 15vw;
  padding: 1vw 2vw;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../img/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Bottom Card Section */

.property-description {
  background-color: #fafafc;
  height: 12vw;
  width: 15vw;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

/* Property Cards Hover States */

.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}

.property-card:hover #Curso1-property-image {
  height: 18em;
}

.property-card:hover #Curso2-property-image {
  height: 18em;
}

.property-card:hover #Curso3-property-image {
  height: 18em;
}

.property-card:hover #Curso4-property-image {
  height: 18em;
}

.property-card:hover #Curso5-property-image {
  height: 18em;
}

.property-image-title {
  text-align: center;
  position: Relative;
  top: 30%;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  color: black;
  font-size: 1.2em;
}

.property-card:hover .property-image-title {
  opacity: 1;
}

@media only screen and (max-width: 900px) {


  .center {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 535) {



  .center {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .property-description {
    text-align: justify;
  }
}




