:root{
    --colorTextos: #18161667;
}

*, ::before,
::after {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    text-size-adjust: auto;
}

.form{
    width: 100%;
    margin: auto;
}

.Soporte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-right: 8%;
    padding-left: 8%;
}

.DescripcionSoporte{
    width: 50%;
    padding-right: 4%;
    padding-left: 4%;
}

.EncabezadoSoporte{
    text-align: justify;
    color: #56CCF2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}

.InfoSoporte{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
    padding-top: 5%;
 
}

.Graduado{
    width: 50%;
}


.Contacto{
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Pregunta{
    font-size: 250%;
    color: #56CCF2;
    text-align: center;
}

.TiempoEspera{
    text-align: center;
    font-size: 120%;
    padding-top: 2%;
}

form .Groupbox{
    position: relative;
}

.Groupbox{
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3%;
}

input, textarea{
    background: none;
    color:#575757;
    font-size: 140%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}



input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -40%;
    font-size: 100%;
    color: #5673f2;
}

label{
    color: var(--colorTextos);
    font-size: 140%;
    position: absolute;
    left: 1%;
    top: 2%;
    transition: 0.5s ease all;
    pointer-events: none;
}
input:focus~.Textbox::before, textarea:focus~.Textbox::before{
    width: 100%;
}
.Textbox{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Textbox::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #56CCF2, #1e295c);
    transition: 0.3s ease all;
    left: 0%;
}


button{
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #5673f2, #4861ce);
    background: linear-gradient(to right, #4861ce, #5673f2);
    width: 15%;
    height: 25%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 180%;
    margin: 2% auto;
    cursor: pointer;
}

.BotonEnviar{
    text-align: center;
}

@media (max-width: 990px){

    .Groupbox{
        width: 70%;
    }

    button{
        width: 25%;
        height: 25%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }

    .Soporte{
        padding-top: 15%;
    }
}

@media (max-width: 765px){

    .EncabezadoSoporte{
        font-size: 200%;
    }

    .InfoSoporte{
        font-size: 100%;
    }
}

@media (max-width: 466px){

    .Groupbox{
        width: 90%;
    }

    .Contacto{
        padding-left: 5%;
        padding-right: 5%;
    }

    .EncabezadoSoporte{
        font-size: 150%;
    }

    .InfoSoporte{
        font-size: 80%;
    }

    .Soporte{
        padding-top: 35%;
    }

    .Pregunta{
        font-size: 150%;
    }

    .TiempoEspera{
        font-size: 100%;
    }
}

@media (max-width: 300px){

    button{
        width: 50%;

    }
}
