* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
input,
textarea {
	font-family: "Poppins", sans-serif;
	background-color: #fff;
}

.TitleContacto{
	font-family: 'Montserrat';
	font-size: 35px;
	color: #DB255D;
	left: 5%;
	position: relative;
}
.textContact{
	font-size: 110%;
	font-weight: 500;
}
.containerContact {

	/*Ocular el footer*/
	position: relative;
	/*Oculta el footer*/
	width: 100%;
    min-height: 100vh;
	padding: 1.2rem;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formContact {
	width: 100%;
	max-width: 820px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.2);
	z-index: 100;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.contact-form {
	background-color: #24345F;
	position: relative;
}


.contact-form::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	background-color:#24345F;
	transform: rotate(45deg);
	left: -20px;
}

form {
	padding: 2.3rem 2.3rem;
	z-index: 21;
	overflow: hidden;
	position: relative;
}

.titleContact {
	color: #fff;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1;
	margin-bottom: 0.7rem;
}

.input-containerContact {
	margin: 1rem 0;
	position: relative;
}

.inputContact {
	width: 100%;
	height: 60px;
	outline: none;
	border: 2px solid #fff;
	background: none;
	padding: 0.6rem 1.2rem;
	color: #fff;
	font-weight: 500;
	font-size: 0.95rem;
	letter-spacing: 0.5px;
	border-radius: 25px;
	transition: 0.5s;
}

textarea.inputContact {
	padding: 0.8rem 1.2rem;
	min-height: 150px;
	border-radius: 22px;
	resize: none;
	overflow-y: auto;
}

.input-containerContact label {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	padding: 0 0.4rem;
	color: #fff;
	font-size: 0.9rem;
	font-weight: 400;
	pointer-events: none;
	z-index: 100;
	transition: 0.5s;
}

.input-containerContact.textarea label {
	top: 1rem;
	transform: translateY(0);
}

.btnContact {
	padding: 0.6rem 1.3rem;
	background-color: transparent;
	border: 3px solid #ff4079;
	color: #fff;
	font-size: 1.1rem;
	line-height: 1;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	margin: 0;
	font-weight: 700;
}

.btnContact:hover {
	color: #fff;
	background-color: #DB255D;
	border-color: transparent;
}

.input-containerContact span {
	position: absolute;
	top: 0;
	left: 25px;
	transform: translateY(-50%);
	font-size: 0.8rem;
	padding: 0 0.4rem;
	color: transparent;
	pointer-events: none;
	z-index: 50;
}

.input-containerContact span::before,
.input-containerContact span::after {
	content: "";
	position: absolute;
	width: 10%;
	opacity: 0;
	transition: 0.2s;
	height: 5px;
	background-color: #24345F;
	top: 50%;
	transform: translateY(-50%);
}

.input-containerContact span::before {
	left: 50%;
}
.input-containerContact span::after {
	right: 50%;
}

.input-containerContact.focus label {
	top: 0;
	transform: translateY(-50%);
	left: 25px;
	font-size: 0.8rem;
}

.input-containerContact.focus span::before,
.input-containerContact.focus span::after {
	width: 50%;
	opacity: 1;
}

.contact-info {
	padding: 2.3rem 2.3rem;
	position: relative;
}

.contact-info .titleContact {
	color: #24345F;
	font-family: 'Montserrat';
}

.text {
	color: #333;
	margin: 1.5rem 0 2rem 0;
}

.information {
	display: flex;
	color: #555555;
	margin: 0.7rem 0;
	align-items: center;
	font-size: 0.98rem;
}
.information p{
	color: black;
	font-size: 110%;
	font-weight: 500;
}

.iconContact {
	width: 30px;
	margin-right: 0.7rem;
}

.social-media {
	padding: 2rem 0 0 0;
}

.social-media p {
	color: #333;
	font-size: 110%;
	font-weight: 500;
}

.social-icon {
	display: flex;
	margin-top: 0.5rem;
}

.social-icon a {
	width: 35px;
	height:35px;
	border-radius: 5px;
	background: linear-gradient(45deg, #24345F, #043e63);
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-right: 0.5rem;
	transition: 0.4s;
}

.social-icon a:hover {
	transform: scale(1.08);
}
.contact-info::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 110px;
	border: 22px solid #24345F;
	border-radius: 50%;
	bottom: -77px;
	right: 50px;
	opacity: 0.4;
}

.Big-Circle {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: linear-gradient(to left, #24345F, #184b97);
	bottom: 50%;
	right: 50%;
	transform: translate(-40%, 38%);
}

.Big-Circle::after {
	content: "";
	position: absolute;
	width: 360px;
	height: 360px;
	background-color: #fff;
	border-radius: 50%;
	top: calc(50% - 180px);
	left: calc(50% - 180px);
}

.square {
	position: absolute;
	height: 600px;
	top: 50%;
	left: 50%;
	transform: translate(101%, 11%);
	opacity: 0.5;
}

.Padding__Contact{
	height: 18vw;
}

@media (max-width: 850px) {

	.containerContact {
		top: 200px;
	}

	.formContact {
		grid-template-columns: 1fr;
	}

	.contact-info::before {
		bottom: initial;
		top: -75px;
		right: 65px;
		transform: scale(0.95);
	}

	.contact-form::before {
		top: -13px;
		left: initial;
		right: 70px;
	}

	.square {
		transform: translate(80%, 43%);
		height: 500px;
	}

	#ImagenBanner{
		z-index: 80;
	}
	.Big-Circle {
		z-index: 99;
		bottom: 65%;
		transform: scale(0.9) translate(-40%, 30%);
		right: 50%;
	}

	footer{
		bottom: -100%;
	}

	.text {
		margin: 1rem 0 1.5rem 0;
	}

	.social-media {
		padding: 1.5rem 0 0 0;
	}
	.contact-info p{
		font-size: 15px;
	}

	.Padding__Contact{
		height: 42vw;
	}
}

@media (max-width: 480px) {

	.Big-Circle {
		z-index: 75%;
		bottom: 65%;
		transform: scale(0.9) translate(-40%, 30%);
		right: 50%;
	}

	.contact-info p{
		font-size: 10px;
	}

	#ImagenBanner img{
		z-index: 80;
		width: 50%;
		top: 100px;
	}
	.containerContact {
		padding: 1.5rem;
	}

	.contact-info::before {
		display: none;
	}

	.square,
	.Big-Circle {
		display: none;
	}

	form,
	.contact-info {
		padding: 1.7rem 1.6rem;
	}

	.text,
	.information,
	.social-media p {
		font-size: 0.8rem;
	}

	.titleContact {
		font-size: 1.15rem;
		font-family: 'Montserrat';
	}

	.social-icon a {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	.iconContact {
		width: 23px;
	}

	.inputContact {
		padding: 0.45rem 1.2rem;
	}

	.btnContact {
		padding: 0.45rem 1.2rem;
	}
	.Padding__Contact{
		height: 75vw;
	}
}
