    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    input,
    textarea {
        font-family: "Poppins", sans-serif;
    }

    .containerContact {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 2rem;
        background-color: #fafafa;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formContact {
        width: 100%;
        max-width: 820px;
        background-color: #fff;
        border-radius: 10px;
       box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.2);
        z-index: 100;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form {
        background-color: #56ccf2;
        position: relative;
    }

    .circle {
        border-radius: 50%;
        background: linear-gradient(135deg, transparent 20%, #0474cf);
        position: absolute;
    }

    .circle.one {
        width: 130px;
        height: 130px;
        top: 130px;
        right: -40px;
    }

    .circle.two {
        width: 80px;
        height: 80px;
        top: 10px;
        right: 30px;
    }

    .contact-form::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #56ccf2;
        transform: rotate(45deg);
        top: 66px;
        left: -20px;
    }

    form {
        padding: 2.3rem 2.3rem;
        z-index: 21;
        overflow: hidden;
        position: relative;
    }

    .titleContact {
        color: #fff;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 0.7rem;
    }

    .input-containerContact {
        margin: 1rem 0;
        position: relative;
    }

    .inputContact {
        width: 100%;
        height: 60px;
        outline: none;
        border: 2px solid #fafafa;
        background: none;
        padding: 0.6rem 1.2rem;
        color: #fff;
        font-weight: 500;
        font-size: 0.95rem;
        letter-spacing: 0.5px;
        border-radius: 25px;
        transition: 0.5s;
    }

    textarea.inputContact {
        padding: 0.8rem 1.2rem;
        min-height: 150px;
        border-radius: 22px;
        resize: none;
        overflow-y: auto;
    }

    .input-containerContact label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        padding: 0 0.4rem;
        color: #fafafa;
        font-size: 0.9rem;
        font-weight: 400;
        pointer-events: none;
        z-index: 100;
        transition: 0.5s;
    }

    .input-containerContact.textarea label {
        top: 1rem;
        transform: translateY(0);
    }

    .btnContact {
        padding: 0.6rem 1.3rem;
        background-color: #fff;
        border: 2px solid #fafafa;
        font-size: 0.95rem;
        color: #56ccf2;
        line-height: 1;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        margin: 0;
    }

    .btnContact:hover {
        background-color: transparent;
        color: #fff;
    }

    .input-containerContact span {
        position: absolute;
        top: 0;
        left: 25px;
        transform: translateY(-50%);
        font-size: 0.8rem;
        padding: 0 0.4rem;
        color: transparent;
        pointer-events: none;
        z-index: 50;
    }

    .input-containerContact span::before,
    .input-containerContact span::after {
        content: "";
        position: absolute;
        width: 10%;
        opacity: 0;
        transition: 0.3s;
        height: 5px;
        background-color: #56ccf2;
        top: 50%;
        transform: translateY(-50%);
    }

    .input-containerContact span::before {
        left: 50%;
    }
    .input-containerContact span::after {
        right: 50%;
    }

    .input-containerContact.focus label {
        top: 0;
        transform: translateY(-50%);
        left: 25px;
        font-size: 0.8rem;
    }

    .input-containerContact.focus span::before,
    .input-containerContact.focus span::after {
        width: 50%;
        opacity: 1;
    }

    .contact-info {
        padding: 2.3rem 2.3rem;
        position: relative;
    }

    .contact-info .titleContact {
        color: #56ccf2;
    }

    .text {
        color: #333;
        margin: 1.5rem 0 2rem 0;
    }

    .information {
        display: flex;
        color: #555555;
        margin: 0.7rem 0;
        align-items: center;
        font-size: 0.98rem;
    }

    .iconContact {
        width: 30px;
        margin-right: 0.7rem;
    }

    .social-media {
        padding: 2rem 0 0 0;
    }

    .social-media p {
        color: #333;
    }

    .social-icon {
        display: flex;
        margin-top: 0.5rem;
    }

    .social-icon a {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        background: linear-gradient(45deg, #56ccf2, #0499f0);
        color: #fff;
        text-align: center;
        line-height: 35px;
        margin-right: 0.5rem;
        transition: 0.4s;
    }

    .social-icon a:hover {
        transform: scale(1.08);
    }

    .contact-info::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 110px;
        border: 22px solid #56ccf2;
        border-radius: 50%;
        bottom: -77px;
        right: 50px;
        opacity: 0.4;
    }

    .Big-Circle {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: linear-gradient(to bottom, #56ccf2, #0499f0);
        bottom: 50%;
        right: 50%;
        transform: translate(-40%, 38%);
    }

    .Big-Circle::after {
        content: "";
        position: absolute;
        width: 360px;
        height: 360px;
        background-color: #fafafa;
        border-radius: 50%;
        top: calc(50% - 180px);
        left: calc(50% - 180px);
    }

    .square {
        position: absolute;
        height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(101%, 11%);
        opacity: 0.5;
    }

    @media (max-width: 850px){

        .containerContact {
            top: 90px;
        }

        .formContact{
            grid-template-columns: 1fr;
        }

        .contact-info::before{
            bottom: initial;
            top: -75px;
            right: 65px;
            transform: scale(0.95);
        }

        .contact-form::before{
            top: -13px;
            left: initial;
            right: 70px;
        }

        .square{
            transform: translate(80%, 43%);
            height: 500px;
        }

        .Big-Circle{
            bottom: 75%;
            transform: scale(0.9) translate(-40%, 30%);
            right: 50%;
        }

        .text{
            margin: 1rem 0 1.5rem 0;
        }

        .social-media{
            padding: 1.5rem 0 0 0 ;
        }
    }

@media(max-width: 480px){

    .containerContact{

        padding: 1.5rem;
    }

    .contact-info::before{
        display: none;
    }

    .square,
    .Big-Circle{
        display: none;
    }

    form,
    .contact-info{
        padding: 1.7rem 1.6rem;
    }

    .text,
    .information,
    .social-media p{
        font-size: 0.8rem;
    }

    .titleContact{
        font-size: 1.15rem;
    }

    .social-icon a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .iconContact{
        width: 23px;
    }

    .inputContact{
        padding: 0.45rem 1.2rem;
    }

    .btnContact{
        padding: 0.45rem 1.2rem;
    }
}