@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Text:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-size-adjust: auto;
}



/*BANNER WELCOME*/
.banner_Welcome{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.banner_Welcome > img{
	position: absolute;
	width: 100%;
	z-index: -1;
}

.contenido_Slider{
	padding-top: 10%;
	width: 65%;
	padding-left: 3%;
}

	.contenido_Slider > img{
		width: 10%;
	}

	.contenido_Slider h1 {
		padding-top: 1%;
		font-family: 'Poppins', sans-serif;
		color: white;
		text-transform: uppercase;
		font-size: 3.5vw;
		line-height: 4vw;
	}

	.contenido_Slider h2{
		width: 80%;
		padding-top: 1%;
		font-family: 'Poppins', sans-serif;
		color: white;
		font-size: 1.3vw;
	}

	.Banner-Descripcion{
		width: 100%;
		padding-top: 6%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
	}

		.Banner-Descripcion-Individual{
			width: 20%;
			padding: 2.5%;
			background-color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 1.5vw;
			box-shadow: 0vw 0.4vw 0.7vw 0.5vw  rgba(0, 0, 0, 0.4);
			
		}

			.Banner-Descripcion-Individual img{
				width: 50%;
				padding: 5%;
			}

			.Banner-Descripcion-Individual h1{
					width: 90%;
					padding: 4%;
					color: #24345f;
					font-family: 'Poppins', sans-serif;
					font-size: 1.1vw;
					border-radius: 2.5vw;
					text-align: center;
					
			}

			.Banner-Descripcion-Individual h2{
				width: 100%;
				padding-top: 5%;
				text-align: justify;
				font-family: 'Poppins', sans-serif;
				font-size: 1.2vw;
				color: #24345f;
		}

/*FIN BANNER WELCOME*/



/*BANNER SUPERIOR 1
.Index-Superior{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 7%;
}

	.Banner-Index{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}

		.Banner-Index-Informacion{
			width: 47%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

				.Index-Informacion-Superior{
					width: 100%;
					padding-left: 15%;
					padding-right: 2%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					font-family: 'Poppins', sans-serif;
				}


						.Index-Informacion-Superior h1{
							font-family: 'Montserrat', sans-serif;
							text-align: left;
							color: #24345f;
							text-transform: uppercase;
							font-size: 2.6vw;
							line-height: 3.3vw;
							font-weight: 900;
						}

						.Index-Informacion-Superior h2{
							padding-top: 2%;
							font-family: 'Montserrat', sans-serif;
							color: #24345f;
							font-size: 1.2vw;
							text-align: justify;

						}

						.Index-Informacion-Superior img{
							width: 20%;
						}
					

			.Index-Informacion-Imagen{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}

				.Index-Informacion-Imagen img{
					width: 100%;
				}

		.Banner-Index-Imagen{
			width: 53%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

			.Banner-Index-Imagen img{
				width: 100%;
			}

	.Banner-Descripcion{
		width: 100%;
		padding-top: 4%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
	}

		.Banner-Descripcion-Individual{
			width: 20%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

			.Banner-Descripcion-Individual h1{
					width: 74%;
					padding: 4%;
					background-color: #24345f;
					color: white;
					font-family: 'Poppins', sans-serif;
					font-size: 1.2vw;
					border-radius: 2.5vw;
					text-align: center;
			}

			.Banner-Descripcion-Individual h2{
				width: 100%;
				padding-top: 5%;
				text-align: justify;
				font-family: 'Poppins', sans-serif;
				font-size: 1.2vw;
		}

FIN BANNER 1*/

/*CARRERAS*/

.Carreras > h2 {
	padding-top: 5%;
	color: #DB255D;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.8vw;
}

.Carreras {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

/*CSS Cards en el documento css/Cards/cards.css*/




/*FIN CARRERAS*/


/*BENEFICIOS SOCIAL ACADEMY*/

.beneficiosSocialAcademy{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-color: #DB255D;
}
	.beneficiosSocialAcademy h1{
		padding: 3%;
		font-family: 'Poppins', sans-serif;
		font-size: 3.2vw;
		color: #700D31;
	}
	
	.descripcionBeneficiosSA{
		width: 100%;
		padding: 0 5%;
		padding-top: 0;
		padding-bottom: 4%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.descripcionBeneficiosIndividuales{
		width: 18%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.descripcionBeneficiosIndividuales img{
		padding: 5%;
		width: 45%;
	}

	.descripcionBeneficiosIndividuales h3{
		padding-top: 5%;
		color: #700D31;
		font-family: 'Poppins', sans-serif;
		font-size: 1.6vw;
	}
/*FIN BENEFICIOS SOCIAL ACADEMY*/

/*BENEFICIOS SOCIAL ACADEMY
.beneficios-SocialAcademy{
	width: 100%;
	display: flex;
	flex-direction: row;
}

	.imagen-Beneficios{
		width: 45%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.imagen-Beneficios img{
			width: 90%;
		}

	.descripcion-Beneficios{
		width: 55%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-right: 5%;
	}

		.beneficios-Titulo{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}

		.beneficios-Titulo h1{
			text-align: right;
			font-family: 'Poppins', sans-serif;
			text-transform: uppercase;
			color: #DB255D;
			font-size: 3vw;
		}

		.beneficios-Titulo h2{
			margin-top: 1%;
			padding-left: 5%;
			text-align: right;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.2vw;
		}


	.beneficios-Estadisticas{
		margin-top: 5%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

		.estadisticas-Individuales{
			width: 22%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		.estadisticas-Individuales img{
			width: 65%;
		}

		.estadisticas-Individuales h3{
			margin-top: 10%;
			width: 100%;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			color: #24345f;
			font-size: 1.2vw;
		}

FIN BENEFICIOS SOCIAL ACADEMY*/

/*NUESTROS ESTUDIANTES*/
.ReferenciasUsuarios {
	padding-top: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.TituloReferencias h1 {
	font-family: 'Poppins', sans-serif;
	color: #24345f;
	text-align: center;
	font-size: 3.9vw;
}


.OpinionesUsuarios {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: "Poppins", sans-serif;
}

.TextoOpinion {

	text-align: justify;
	color: #5c5c5c;
}


.TextoOpinion h3 {
	font-size: 1.3vw;
	font-family: "Montserrat", sans-serif;
	color: white;
	line-height: 2vw;
}

.OpinionesIndividuales {
	width: 27%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 5%;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.22);
	border-radius: 2vw;
	background-color: #24345f;
	transition: 0.5s;
}

.FotoUsuario {
	width: 33.33%;
}

.FotoUsuario img {
	width: 90%;
	border-radius: 100%;
}

.PerfilUsuario {
	padding-top: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.DescripcionUsuario {
	width: 60%;
	display: flex;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
	padding-left: 5%;
}

.DescripcionUsuario h1 {
	font-size: 1.4vw;
	color: white;
}

.DescripcionUsuario h2 {
	font-size: 1.3vw;
	color: white;
}


.OpinionesIndividuales:hover{
	transform: scale(1.1);
}

/*FIN NUESTROS ESTUDIANTES*/


/*BANNER PASANTES*/
.banner_Pasantes{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	margin-top: 5%;
	

}

.banner_Pasantes img{
	position: absolute;
	padding-top: 5%;
	width: 100%;
	z-index: -1;
	background-color: #24345f;
}


.descripcion_Banner_Pasantes{
	width: 55%;
	padding-top: 4%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: flex-end;
	padding-right: 5%;
}

.descripcion_Banner_Pasantes h1{
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: right;
	text-transform: uppercase;
	font-size: 3vw;
}

.descripcion_Banner_Pasantes h2{
	margin-top: 5%;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: right;
	font-size: 1.7vw;
}

.contenedorBotonPasantes{
	width: 60%;
	margin-top: 18%;
	margin-bottom: 18%;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btnPasantes {
	width: 70%;
	margin: 0;
	background-color: #9CBCD9;
	border: none;
	outline: none;
	border-radius: 3vw;
	color: #fff;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease;
	font-weight: 700;
	font-size: 1.8vw;
	padding: 3% 5%;
	box-shadow: 0.1vw 0.2vw 0.3vw  rgba(39, 46, 56, 0.3);
}
.btnPasantes:hover {
	background-color: transparent;
	border: 0.3vw solid #9CBCD9;
	color: #9CBCD9;
	transition: all 0.4s ease 0s;
  	padding: -0.5% 4.5%;
}



/*FIN BANNER PASANTES*/

.logoImg {
	float: -200%;
}


/*DISTRIBUCION PRECIOS*/

.Precios {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 10%;
	padding-top: 10%;
	padding-bottom: 10%;
}

.Precios__Texto {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Precios h2 {
	position: relative;
	text-align: center;
	align-items: center;
	text-transform: uppercase;
	color: #24345f;
	font-size: 3.2vw;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
}

.Precios__Cards {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.BotonPremium {
	margin-top: 5%;
	width: 25vw;
	background-color: #DB255D;
	border: none;
	outline: none;
	border-radius: 2vw;
	color: #fff;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	display: flex;
	transition: all 0.3s ease;
	font-weight: 700;
	font-size: 1.5vw;
	padding: 2.5% 5%;
	box-shadow: 0.1vw 0.2vw 0.3vw  rgba(39, 46, 56, 0.3);
}
.BotonPremium:hover {
	background-color: transparent;
	border: 0.3vw solid #DB255D;
	color: #DB255D;
	transition: all 0.4s ease 0s;
  	padding: -0.3% 5%;
}


/*FIN DISTRIBUCION PRECIOS*/


/*ALIADOS*/
.indexAliados{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

	.tituloAliados{
		width: 100%;
		display: 	flex;
		align-items: center;
		justify-content: center;
	}

		.tituloAliados h1{
				font-family: 'Poppins', sans-serif;
				text-transform: uppercase;
				font-size: 3.5vw;
				color: #24345f;
		}

	.contenedorAliados{
		margin-top: 5%;
		margin-bottom: 10%;
		padding: 0% 8%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

		.contenedorAliados .aliadosIndividuales{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15%;
			height: 100%;
			border-radius: 3vw;
			
		}

		.aliadosIndividuales img{
			width: 70%;
			border-radius: 3vw;
		}
/*FIN ALIADOS*/





/*----------------------------------------- First Media Query-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
	.icon-pack {
		display: none;
	}

	#Mensaje {
		position: relative;
		top: 15%;
	}

	.Banner_Rectangulo p {
		position: relative;
		top: 20%;
		font-size: 1.9vh;
		text-size-adjust: auto;
	}

	.Banner_Rectangulo {
		height: 500px;
	}

	.BannerMulti h2 {
		font-size: 3vw;
		line-height: 2;
	}

	.Referencias {
		height: 460px;
	}
}

/*----------------------------------------- Second Media Query-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 1255px) {
	.Referencias {
		position: relative;
		height: 260px;
		width: 100%;
		background-color: #fefefe;
		background-image: url("../img/Captura de pantalla 2020-11-22 151710.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

/*----------------------------------------- Third Media Query-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
	.icon_regalia span {
		font-size: 1.5w;
	}

	.IconosPEM p {
		font-size: 1.3vw;
	}



	.parrafo {
		font-size: 1.7vw;
	}

	.Precios {
		flex-direction: column;
		justify-content: center;
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.Precios__Texto {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.Precios h2 {
		font-size: 5vw;
		padding-top: 4%;
		padding-bottom: 4%;
	}

	.Precios__Cards {
		width: 100%;
		padding-top: 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.TextoOpinion h1 {
		font-size: 10vw;
		margin-bottom: -10%;
	}

	.TextoOpinion h3 {
		font-size: 1.6vw;
	}

	.TituloReferencias h1 {
		font-size: 4.5vw;
	}

	.TituloReferencias h2 {
		font-size: 2vw;
	}

	.BotonPremium {
		font-size: 2.5vw;
		background: #24345f;
		padding: 2%;
	}
}

@media only screen and (max-width: 600px) {
	.LineBAnner {
		height: 100px;
		width: 100%;
	}

	.Banner_Rectangulo {
		height: 300px;
	}

	.imgMarcianito {
		position: absolute;
		left: 50%;
		bottom: 55%;
	}

	#Mensaje {
		position: relative;
		top: 30%;
		font-size: 3.5vw;
		font-style: normal;
		font-weight: 900;
		line-height: 158.34%;
		/* or 70px */
		color: #ffffff;
		text-size-adjust: auto;
	}

	.Banner_Rectangulo p {
		position: relative;
		font-style: normal;
		font-weight: normal;
		font-size: 2vw;
		line-height: 32px;
		color: #fff7df;
		top: 35%;
		/* Blue 3 */
	}

	.icon-pack {
		display: none;
	}

	.Proyectos {
		position: relative;
		left: 5%;
		right: 5%;
	}

	#Proyectos {
		width: 45%;
		height: 55%;
	}

	#img01 {
		width: 90%;
	}
	.parrafo {
		position: relative;
		float: right;
		font-size: 2vw;
	}


	.BannerMulti h2 {
		text-align: center;
		line-height: 1.5rem;
	}

	.Precios h2 {
		font-size: 4vw;
	}

	.Precios > .btn {
		position: relative;
		left: 25%;
		top: 50%;
	}

	#LastImg {
		top: -20%;
	}

	#LastImg02 {
		top: 2%;
	}
}

@media only screen and (max-width: 600px) {
	.parrafo {
		font-size: 1.8vw;
	}

	.LastBanner {
		padding-top: 20%;
		padding-bottom: 20%;
	}
	.icon_regalia span {
		font-size: 2vw;
	}

	.IconosPEM p {
		font-size: 1.8vw;
	}
}

@media only screen and (max-width: 500px) {
	.icon_regalia span {
		font-size: 2w;
	}

	.IconosPEM p {
		font-size: 1.7vw;
	}


	.parrafo {
		font-size: 2.4vw;
	}

	.Carreras > h2 {
		font-size: 4vw;
	}

	.OpinionesUsuarios {
		flex-wrap: wrap;
	}

	.OpinionesIndividuales {
		width: 45%;
		margin-bottom: 5%;
	}

	.Precios h2 {
		font-size: 5.5vw;
	}

	.TextoOpinion h1 {
		font-size: 12vw;
		margin-bottom: -15%;
	}

	.TextoOpinion h3 {
		font-size: 2.5vw;
	}

	.DescripcionUsuario h1 {
		font-size: 2.4vw;
	}

	.DescripcionUsuario h2 {
		font-size: 2vw;
	}

	.TituloReferencias h1 {
		font-size: 6vw;
	}

	.TituloReferencias h2 {
		padding: 1% 2%;
		font-size: 3vw;
	}

	.BotonPremium {
		font-size: 3vw;
	}

	.TextoLastBanner p {
		font-size: 4.5vw;
		text-align: center;
	}

	.BannerMulti h2 {
		font-size: 4vw;
	}
}
