@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.cabecera{
    margin-top: 40px;
    width: 100%;
    height: 250px;
    background-color: #24345F;
    font-family: 'Poppins', serif;
    display: flex;
}

.text{
    padding: 60px;
    width: 70%;
    color: #ffff;
}
.text p{
    font-size: 25px;
}
.items{
    width: 30%;
    color: #ffff;
    margin-left: 5px;
}
.item2 p{
    padding: 10px;
}
.item2{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
}
.item2 p{
    padding-left: 10px;
}


/*Filtrado de documentacion*/
.filtro{
    padding: 20px;
    width: 100%;
    margin: 10px auto;
}
.filtro ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 10px;
    animation: moverizquierda 1s ease-in;
}
.filtro ul li{
    list-style: none;
    padding: 8px 20px;
    letter-spacing: 1px;
    cursor: pointer;

}

.filtro ul li.active{
    border-bottom: 2px solid #24345F;
}


.wave{
    height: 70px;
    width: 100%;
}

.comentarios{
    width: 100%;
    height: 200px;
    background: cornflowerblue;
}

.pregunta{
    width: 100%;
    height: 200px;
    background: rgb(52, 65, 88);
}


.etiquetas{
    width: 100%;
    height: 200px;
    background: rgb(36, 99, 207);
}


.usuario{
    width: 100%;
    height: 200px;
    background: rgb(28, 161, 39);
}


.sinresponder{
    width: 100%;
    height: 200px;
    background: rgb(82, 36, 207);
}