* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: auto;
}

* p {
  font-size: 1vw;
}

.logoImg {
  float: -200%;
}

.Banner_Rectangulo {
  width: 100%;
  height: 720px;
  background: linear-gradient(253.58deg, #5693be 1.55%, #5c9eeb 95.8%);
  /* Blue 3 */
  box-sizing: border-box;
}

#Mensaje {
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 900;
  line-height: 158.34%;
  /* or 70px */
  color: #ffffff;
  text-size-adjust: auto;
}

.Banner_Rectangulo p {
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 32px;
  color: #fff7df;
  /* Blue 3 */
}

.imgMarcianito {
  width: 50%;
  height: 40%;
  position: absolute;
  left: 50%;
  bottom: 45%;
  z-index: 2;
}

.BlanckFirst {
  width: 100%;
  height: 800px;
  background-color: #fefefe;
}

.icon-pack {
  width: 15%;
  height: 5%;
}

#icon01 {
  left: 20%;
}

#icon02 {
  position: relative;
  left: 10%;
  bottom: 10%;
}

#icon03 {
  position: relative;
  left: 50%;
  width: 10%;
}

.icon_regalia > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Proyectos {
  position: relative;
  left: -15%;
  right: 15%;
}

#Proyectos {
  width: 55%;
  height: 55%;
}

.Proyectos span {
  font-style: normal;
  font-weight: 900;
  font-size: 1vw;
  /* or 33px */
  text-align: center;
  color: #5c5c5c;
}

#ensena {
  width: 35%;
  height: 35%;
}

.Multiplataforma img {
  width: 25%;
  height: 25%;
}

.ensena span {
  font-style: normal;
  font-weight: 900;
  font-size: 1vw;
  /* or 33px */
  text-align: center;
  color: #5c5c5c;
  left: 40%;
  top: 117%;
}

.ensena {
  position: relative;
  left: -5%;
}

.Multiplataforma {
  position: relative;
}

.Multiplataforma img {
  width: 45%;
}

.Multiplataforma span {
  font-style: normal;
  font-weight: 900;
  font-size: 1vw;
  /* or 33px */
  text-align: center;
  color: #5c5c5c;
  left: 40%;
  top: 117%;
}
#img01 {
  width: 50%;
  height: 90%;
  position: relative;
  float: left;
  border-radius: 45%;
}
#txtIlustraP {
  padding-left: 2%;
  font-size: 1.5vw;
  text-size-adjust: auto;
  line-height: 200%;
  color: #56ccf2;
}

.txtIlustraP p {
  padding: 2%;
  position: relative;
  float: right;
}

.parrafo {
  margin-right: 2%;
  position: relative;
  font-size: 1.2vw;
}

.BannerMulti {
  height: 720px;
  width: 100%;
  background-color: #5c9eeb;
}

.BannerMulti img {
  width: 20%;
}

.BannerMulti h2 {
  position: relative;
  line-height: 5rem;
  font-size: 2.5vw;
  color: #fefefe;
}

.BannerImgs {
  position: relative;
  width: 60%;
  height: 676.43px;
  left: 40%;
  top: 10%;
}

#BanImg03{
position: relative;
width: 10%;
left: -35%;
top: 30%;
}

#BanImg02{
position: relative;
width: 10%;
left: 2%;
bottom: 5%;
width: 35%;
}

#BanImg04{
position: relative;
width: 10%;
left: -62%;
top: 35%;
width: 15%;
}

#BanImg05{
position: relative;
width: 10%;
left: -16%;
top: 5%;
width: 18%;
}

#BanImg06{
position: relative;
width: 10%;
left: 36%;
width: 25%;
}




.Carreras > h2 {
  padding: 2%;
  color: #56ccf2;
  text-align: center;
  font-size: 2vw;
}

.Carreras {
  height: 850px;
  width: 100%;
  background-color: #fefefe;
}

.LineBAnner {
  height: 240px;
  width: 100%;
  background-image: url("../img/Captura de pantalla 2020-11-21 184410.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #56ccf2;
}

.crop {
  position: relative;
  left: 10%;
  height: 99.5%;
  width: auto;
}

.Referencias {
  position: relative;
  height: 560px;
  width: 100%;
  background-color: #fefefe;
  background-image: url("../img/Captura de pantalla 2020-11-22 151710.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Precios {
  height: 720px;
  width: 100%;
  background-color: #fefefe;
}

.Precios > div {
  position: relative;
  top: -6%;
}

.Precios {
  overflow: hidden;
}

.Precios img {
  float: right;
  width: 50%;
  height: 50%;
}

.Precios h2 {
  position: relative;
  top: 25%;
  left: 10%;
  font-size: 4vw;
  color: #56ccf2;
}

.Precios > .btn {
  position: relative;
  left: 25%;
  top: 30%;
}

#card1 {
  position: relative;
  left: -30%;
  width: 19.5%;
  height: 50%;
  padding-top: 2%;
}

#card2 {
  position: relative;
  left: 15%;
  width: 24%;
  height: 50%;
}

.LastBanner {
  height: 600px;
  width: 100%;
  background-color: #fefefe;
  overflow: hidden;
}

.LastBanner p {
  position: relative;
  font-weight: 900;
  color: #56ccf2;
  font-size: 3.5vw;
  left: 59%;
  top: 40%;
}

#LastImg {
  position: relative;
  width: 50%;
  height: 90%;
  top: -40%;
  z-index: 30;
}

#LastImg02 {
  position: relative;
  width: 60%;
  height: 100%;
  top: -140%;
}

.IconPackFooter img {
  float: right;
}
footer {
  height: 265px;
  width: 100%;
  background-color: #212121;
  background-image: url("../img/Group 96.png");
  background-size: contain;
}

footer p {
  color: #fefefe;
}

#FooterImg01 {
  margin-top: 1%;
  width: 10%;
  height: 10%;
}

#FooterImg02 {
  margin-top: 2%;
  margin-left: 1%;
  width: 7%;
  height: 10%;
}

#FooterImg03 {
  margin-top: 2%;
  margin-left: 1%;
  width: 10%;
  height: 10%;
}

#FooterImg04 {
  margin-top: 2%;
  width: 10%;
  height: 10%;
}

#layer {
  width: 0.2%;
  height: 0.3%;
}

/*----------------------------------------- First Media Query-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  .icon-pack {
    display: none;
  }

  #Mensaje {
    position: relative;
    top: 15%;
  }

  .Banner_Rectangulo p {
    position: relative;
    top: 20%;
    font-size: 1.9vh;
    text-size-adjust: auto;
  }

  .Banner_Rectangulo {
    height: 500px;
  }

  .BlanckFirst {
    height: 510px;
  }

  .BannerMulti {
    height: 500px;
  }
  .BannerMulti h2 {
    font-size: 2vh;
    line-height: 2;
  }

  .Referencias {
    height: 460px;
  }

  .LastBanner {
    height: 500px;
  }
}

/*----------------------------------------- Second Media Query-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 1255px) {
  .Referencias {
    position: relative;
    height: 260px;
    width: 100%;
    background-color: #fefefe;
    background-image: url("../img/Captura de pantalla 2020-11-22 151710.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*----------------------------------------- Third Media Query-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .LineBAnner {
    height: 100px;
    width: 100%;
  }

  .Banner_Rectangulo {
    height: 300px;
  }

  .imgMarcianito {
    position: absolute;
    left: 50%;
    bottom: 55%;
  }

  #Mensaje {
    position: relative;
    top: 30%;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: 158.34%;
    /* or 70px */
    color: #ffffff;
    text-size-adjust: auto;
  }

  .Banner_Rectangulo p {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 32px;
    color: #fff7df;
    top: 35%;
    /* Blue 3 */
  }

  .icon-pack {
    display: none;
  }

  .BlanckFirst {
    height: 300px;
  }

  .Proyectos {
    position: relative;
    left: 5%;
    right: 5%;
  }

  #Proyectos {
    width: 45%;
    height: 55%;
  }

  #img01 {
    width: 40%;
    height: 21%;
    position: absolute;
    top: 65%;
    float: left;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
    margin: auto;
  }
  .parrafo {
    position: relative;
    float: right;
    font-size: 2vw;
  }

  #txtIlustraP {
    top: 95%;
    text-align: center;
  }

  .BannerMulti {
    height: 200px;
  }

  .BannerMulti h2 {
    text-align: center;
    line-height: 1.5rem;
  }

  .Carreras {
    height: 500px;
  }

  .Precios{
    height: 300px;
  }

  .Precios h2 {
    position: relative;
    top: -5%;
    left: 10%;
    font-size: 4vw;
    color: #56ccf2;
  }

  .Precios > .btn {
    position: relative;
    left: 25%;
    top: 50%;
  }

  .Precios {
    height: 400px;
  }

  .LastBanner {
    height: 200px;
  }

  #LastImg{
    top: -20%;
  }

  #LastImg02{
    top: 2%;
  }

  footer {
    height: 80px;
  }

  .IconPackFooter img {
    float: right;
    width: 17vw;
    height: 10vw;
  }
}

@media only screen and (max-width: 600px) {
  .parrafo{
    font-size: 1.2vw;
  }

  .BannerMulti{
    height: 300px;
  }

  .Carreras{
    height: 300px;
  }

  .Precios h2{
    top: 40%;
  }
}
