@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Text:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: auto;
}

* p {
  font-size: 1vw;
}

.logoImg {
  float: -200%;
}

.Banner_Rectangulo {
  width: 100%;
  height: 700px;
  background: linear-gradient(253.58deg, #5693be 1.55%, #5c9eeb 95.8%);
  /* Blue 3 */
  box-sizing: border-box;
}

#Mensaje {
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 900;
  line-height: 158.34%;
  /* or 70px */
  color: #ffffff;
  text-size-adjust: auto;
}

.Banner_Rectangulo p {
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 32px;
  color: #fff7df;
  /* Blue 3 */
}

.imgMarcianito {
  width: 50%;
  height: 40%;
  position: absolute;
  left: 50%;
  bottom: 45%;
  z-index: 2;
}

.BlanckFirst {
  width: 100%;
  height: 800px;
  background-color: #fefefe;
}

.icon-pack {
  width: 15%;
  height: 5%;
}

#icon01 {
  left: 20%;
}

#icon02 {
  position: relative;
  left: 10%;
  bottom: 10%;
}

#icon03 {
  position: relative;
  left: 50%;
  width: 10%;
}

.icon_regalia{
  padding-top: 2%;
}
.icon_regalia > ul {
  display: flex;
  justify-content: space-around;
}

.Proyectos {
  position: relative;
  width: 20%;
}


.Proyectos span {
  font-style: normal;
  font-weight: 900;
  font-size: 1.2vw;
  /* or 33px */
  text-align: center;
  color: #5c5c5c;
}


.Multiplataforma img {
  width: 45%;
  height: 45%;
}

.ensena img{
width: 45%;
height: 45%;
}

.Proyectos img{
  width: 45%;
}

.ensena span {
  font-style: normal;
  font-weight: 900;
  font-size: 1.2vw;
  /* or 33px */
  text-align: center;
  color: #5c5c5c;
}

.ensena {
  position: relative;
  width: 20%;
}

.Multiplataforma {
  position: relative;
  width: 20%;
}



.Multiplataforma span {
  font-style: normal;
  font-weight: 900;
  font-size: 1.2vw;
  /* or 33px */
  text-align: center;
  color: #5c5c5c;
}
.HomeInteractua{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
}

.IconosPEM p{
  font-size: 0.9vw;
}

.TextoInteractua{
  display: flexbox;
  width: 50%;
  justify-content: center;
  align-items: center;
  
}

.IconosPEM{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  padding-left: 2%;
}

.IconosPEM p{
  text-align: center;
}

#ContenedorIMG01{
  width: 50%;
  display: flex;
  justify-content: center;
  padding-right: 2%;
  padding-left: 2%;
}
#img01 {
  width: 90%;
  position: relative;
  border-radius: 45%;
}
#txtIlustraP {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  width: 100%;
  font-size: 1.5vw;
  text-size-adjust: auto;
  line-height: 200%;
  color: #56ccf2;
}

.txtIlustraP p {
  padding: 2%;
  position: relative;
  float: right;
}

.parrafo {
  padding-right: 10%;
  padding-left: 10%;
  text-align: justify;
  position: relative;
  font-size: 1.2vw;
}

.BannerMulti {
  width: 100%;
  background-color: #5c9eeb;
  padding-bottom: 4%;
  padding-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.BannerMulti img {
  width: 20%;
}

.TextoMulti{
  width: 50%;
  padding-right: 4%;
  padding-left: 4%;
}

.BannerMulti h2 {
  text-align: center;
  position: relative;
  line-height: 4rem;
  font-size: 3vw;
  color: #fefefe;
}

.BannerImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#BanImg03{
position: relative;
width: 10%;
left: -35%;
top: 30%;
}

#BanImg02{
position: relative;
width: 10%;
left: 2%;
bottom: 5%;
width: 35%;
}

#BanImg04{
position: relative;
width: 10%;
left: -62%;
top: 35%;
width: 15%;
}

#BanImg05{
position: relative;
width: 10%;
left: -16%;
top: 5%;
width: 18%;
}

#BanImg06{
position: relative;
width: 10%;
left: 36%;
width: 25%;
}




.Carreras > h2 {
  padding: 2%;
  color: #56ccf2;
  text-align: center;
  font-size: 2vw;
}

.Carreras {
  height: 850px;
  width: 100%;
  background-color: #fefefe;
}



.crop {
  position: relative;
  left: 10%;
  height: 99.5%;
  width: auto;
}

.ReferenciasUsuarios{
  padding-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TituloReferencias h1{
  font-family: "Poppins", sans-serif;
  color: #56ccf2;
  text-align: center;
  font-size: 3.9vw;
}

.TituloReferencias h2{
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #5c5c5c;
  font-size: 1.5vw;
}

.OpinionesUsuarios{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 5%;
  font-family: "Poppins", sans-serif;
}

    .TextoOpinion{
      text-align: justify;
      color: #5c5c5c;
    }

    .TextoOpinion h1{
      font-family: 'DM Serif Text', serif;
      font-size: 7vw;
      margin-bottom: -10%;
    }

    .TextoOpinion h3{
      font-size: 1.3vw;
    }

.OpinionesIndividuales{
  width: 23%;
}

.FotoUsuario{
  width: 33.33%;
 
}

.FotoUsuario img{
  width: 90%;
  border-radius: 100%;
}

  .PerfilUsuario{
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .DescripcionUsuario{
    width: 60%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  }

  .DescripcionUsuario h1{
    font-size: 1.4vw;
  }

  .DescripcionUsuario h2{
    font-size: 1.3vw;
    color: #5c5c5c;
  }


.Precios {
  height: 720px;
  width: 100%;
  background-color: #fefefe;
}

.Precios > div {
  position: relative;
  top: -6%;
}

.Precios {
  overflow: hidden;
}

.Precios img {
  float: right;
  width: 50%;
  height: 50%;
}

.Precios h2 {
  position: relative;
  top: 25%;
  left: 10%;
  font-size: 4vw;
  color: #56ccf2;
}

.Precios > .btn {
  position: relative;
  left: 25%;
  top: 30%;
}

#card1 {
  position: relative;
  left: -30%;
  width: 19.5%;
  height: 50%;
  padding-top: 2%;
}

#card2 {
  position: relative;
  left: 15%;
  width: 24%;
  height: 50%;
}

.LastBanner {
  width: 100%;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
}
.TextoLastBanner{
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
}
.TextoLastBanner p {
  position: relative;
  font-weight: 900;
  color: #56ccf2;
  font-size: 3.5vw;
}

.ImagenesBanner{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#LastImg {
  width: 85%;
}

/*#LastImg02 {
  position: relative;
}*/

       /* .IconPackFooter img {
          float: right;
        }
        footer {
          position: absolute;
          height: 265px;
          width: 100%;
          background-color: #212121;
          background-image: url("../img/Group 96.png");
          background-size: cover;
          background-repeat: no-repeat;
        }

        footer p {
          color: #fefefe;
        }

        #FooterImg01 {
          margin-top: 1%;
          width: 10%;
          height: 10%;
        }

        #FooterImg02 {
          margin-top: 2%;
          margin-left: 1%;
          width: 7%;
          height: 10%;
        }

        #FooterImg03 {
          margin-top: 2%;
          margin-left: 1%;
          width: 10%;
          height: 10%;
        }

        #FooterImg04 {
          margin-top: 2%;
          width: 10%;
          height: 10%;
        }*/

        
#layer {
  width: 0.2%;
  height: 0.3%;
}

/*----------------------------------------- First Media Query-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 1000px) {
  .icon-pack {
    display: none;
  }

  #Mensaje {
    position: relative;
    top: 15%;
  }

  .Banner_Rectangulo p {
    position: relative;
    top: 20%;
    font-size: 1.9vh;
    text-size-adjust: auto;
  }

  .Banner_Rectangulo {
    height: 500px;
  }

  .BlanckFirst {
    height: 510px;
  }

  .BannerMulti {
    height: 500px;
  }
  .BannerMulti h2 {
    font-size: 2vh;
    line-height: 2;
  }

  .Referencias {
    height: 460px;
  }

  .LastBanner {
    height: 500px;
  }
}

/*----------------------------------------- Second Media Query-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 1255px) {
  .Referencias {
    position: relative;
    height: 260px;
    width: 100%;
    background-color: #fefefe;
    background-image: url("../img/Captura de pantalla 2020-11-22 151710.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*----------------------------------------- Third Media Query-----------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .LineBAnner {
    height: 100px;
    width: 100%;
  }

  .Banner_Rectangulo {
    height: 300px;
  }

  .imgMarcianito {
    position: absolute;
    left: 50%;
    bottom: 55%;
  }

  #Mensaje {
    position: relative;
    top: 30%;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: 158.34%;
    /* or 70px */
    color: #ffffff;
    text-size-adjust: auto;
  }

  .Banner_Rectangulo p {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 32px;
    color: #fff7df;
    top: 35%;
    /* Blue 3 */
  }

  .icon-pack {
    display: none;
  }

  .BlanckFirst {
    height: 300px;
  }

  .Proyectos {
    position: relative;
    left: 5%;
    right: 5%;
  }

  #Proyectos {
    width: 45%;
    height: 55%;
  }

  #img01 {
    width: 40%;
    height: 21%;
    position: absolute;
    top: 65%;
    float: left;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
    margin: auto;
  }
  .parrafo {
    position: relative;
    float: right;
    font-size: 2vw;
  }

  #txtIlustraP {
    top: 95%;
    text-align: center;
  }

  .BannerMulti {
    height: 200px;
  }

  .BannerMulti h2 {
    text-align: center;
    line-height: 1.5rem;
  }

  .Carreras {
    height: 500px;
  }

  .Precios{
    height: 300px;
  }

  .Precios h2 {
    position: relative;
    top: -5%;
    left: 10%;
    font-size: 4vw;
    color: #56ccf2;
  }

  .Precios > .btn {
    position: relative;
    left: 25%;
    top: 50%;
  }

  .Precios {
    height: 400px;
  }

  .LastBanner {
    height: 200px;
  }

  #LastImg{
    top: -20%;
  }

  #LastImg02{
    top: 2%;
  }
}

@media only screen and (max-width: 600px) {
  .parrafo{
    font-size: 1.2vw;
  }

  .BannerMulti{
    height: 300px;
  }

  .Carreras{
    height: 300px;
  }

  .Precios h2{
    top: 40%;
  }
}
