@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*INICIO FOOTER */
.InfoFooter{
    background-color: #212121;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
  }


        .LogosFooter, .SocialFooter {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

            .EnlacesFooter{
              width: 100%;
              padding:0%;
              display: inline-flex;
              flex-wrap: nowrap;
              flex-direction: row;
              padding-bottom: 2%;
              justify-content: space-around;
              align-items: center;
            }

            .LogosFooter{
              justify-content: center;
            }

            .LogosFooter img, .SocialFooter img{
              padding-top: 1%;
              padding-bottom: 1%;
            }

            .SocialFooter img{
              width: 20%;
            }

            .LogosFooter img{
              width: 45%;
            }

            .SocialInfo{
              font-family: "Poppins", serif;
              font-size: 80%;
              color: white;
              text-align: justify;
              padding-top: 1%;
              padding-bottom: 2%;
              padding-right: 20%;
              padding-left: 20%;
              line-height: 130%;
            }

            .RedesFooter{
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: space-around;
              align-items: center;
              width: 100%;
            }
/*.IconosRedes .btn,.IconosRedes .btn .fa,.IconosRedes .btn:before{
  transition:all .35s;
  transition-timing-function:cubic-bezier(0.31,-.105,.43,1.59);
}
.IconosRedes .btn:before{
  top:90%;
  left:-110%;
}
.IconosRedes .btn .fa{
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
}

.IconosRedes .btn.facebook:before{background-color:#3b5998;}
.IconosRedes .btn.facebook .fa{color:#3b5998;}
.IconosRedes .btn.twitter:before{background-color:#3cf;}
.IconosRedes .btn.twitter .fa{color:#3cf;}
.IconosRedes .btn.youtube:before{background-color:red;}
.IconosRedes .btn.youtube .fa{color:red}
.IconosRedes .btn.instagram:before{background-color:#c13584;}
.IconosRedes .btn.instagram .fa{color:#c13584;}

.IconosRedes .btn:focus:before, .IconosRedes .btn:hover:before{
top:-10%;
left:-10%;
}
.IconosRedes .btn:focus .fa, .IconosRedes .btn:hover .fa{
color:#fff;
-webkit-transform:scale(1);
transform:scale(1);
}

.IconosRedes .btn{
display: inline-flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
background-color:#fff;
width:50px;
height:50px;
margin:0 10px;
position:relative;
overflow:hidden;
border-radius:100%;
box-shadow:0 5px 15px -5px rgba(0,0,0,.1);
opacity:.99;
}

.IconosRedes .btn:before{
content:'';
width:120%;
height:120%;
position:absolute;
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
}
.IconosRedes .btn .fa{
font-size:30px;
}*/

.SocialBar{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
}
#DIViconos{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size:30px;
}

#DIViconos a{
    color:#909090;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    border:1px solid rgba(167,146,129,.4);
    cursor:pointer;
    transition:ease .5s;
}
#DIViconos a:hover{
    color:#fff;
    border:1px solid #fff;
    transform:scale(1.1);
}


.IconosSocial{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.IconosSocial:hover>a{
   opacity:.5;
}
.IconosSocial:hover>a:hover{
    opacity:1;
}

  .EnlacesFooter a{
    font-family: "Poppins", serif;
    position: relative;
    color: white;
    font-size: 100%;
    line-height: 160%;
  }
  .EnlacesFooter h2{
    font-family: "Poppins", serif;
    color: rgb(167, 167, 167);
    font-size: 100%;
    padding-left: 20%;
  }

  .EnlacesFooter a:hover{
    color: #F5F362;
    font-size: 110%;
    transition: 1s;
    
  }

  .EnlacesFooter a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
  }

  .EnlacesFooter a:hover:after{
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
  }

  .Copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
  }

      .AllRight{
        width: 50%;
        padding-left: 7%;
        padding-top: 1%;
        padding-bottom: 1%;
      }

      .Privacy{
        width: 50%;
        color: white;
        font-size: 200%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: right;
        padding-right: 10%;
      }

/*FIN FOOTER */

/*INICIO FOOTER RESPONSIVE*/

@media only screen and (max-width: 1150px){
    .LogosFooter img{
      width: 50%;
    }
}

@media only screen and (max-width: 1000px){
        /*FOOTER*/

        .LogosFooter img{
            width: 55%;
        }

        .EnlacesFooter a{
            font-size: 90%;
        }

        .EnlacesFooter a:hover{
            font-size: 100%;
        }
        .EnlacesFooter h2{
            font-size: 90%;
        }

        .SocialFooter img{
            width: 25%;
        }

            .SocialInfo{
                font-size: 65%;
            }

            #DIViconos{
              font-size:25px;
          }
          
          #DIViconos a{
              width:40px;
              height:40px;
          }

            
    /*FIN FOOTER*/
}

@media only screen and (max-width: 800px){
    .LogosFooter img{
      width: 70%;
    }
  
    .EnlacesFooter a{
      font-size: 80%;
    }
  
    .EnlacesFooter a:hover{
      font-size: 90%;
    }
    .EnlacesFooter h2{
      font-size: 80%;
    }
  
    .SocialFooter img{
      width: 35%;
    }
  
        .SocialInfo{
          font-size: 65%;
          padding-right: 10%;
          padding-left: 10%;
        }
  

  
       .Copyright{
        font-size: 40%;
      }
  
      .Privacy{
        font-size: 150%;
      }
  } 


  @media only screen and (max-width: 700px){
    .LogosFooter{
      width: 50%;
    }

    .LogosFooter img{
      width: 65%;
    }

    .EnlacesFooter{
      padding-bottom: 2%;
    }

    .SocialFooter{
      width: 50%;
    }

    .SocialInfo{
      font-size: 60%;
    }

    #DIViconos{
      width: 70%;
      font-size:20px;
  }
  
  #DIViconos a{
      width:30px;
      height:30px;
  }
    
  .EnlacesFooter a{
    font-size: 60%;
  }

  .EnlacesFooter a:hover{
    font-size: 70%;
  }
  .EnlacesFooter h2{
    font-size: 65%;
  }

  .Copyright{
    font-size: 30%;
  }
}

@media only screen and (max-width: 500px){
    .SocialFooter{
      width: 100%;
    }
    .SocialFooter img{
      width: 25%;
    }
    .SocialInfo{
      line-height: 180%;
    }
    .LogosFooter{
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .LogosFooter img{
      width: 45%;
    }
    .EnlacesFooter a{
      font-size: 50%;
    }
    .EnlacesFooter a:hover{
      font-size: 60%;
    }
    .EnlacesFooter h2{
      font-size: 55%;
    }
    .Copyright{
      font-size: 20%;
    }

    #DIViconos{
      width: 60%;
      font-size:30px;
  }
  
  #DIViconos a{
      width:50px;
      height:50px;
  }
}

@media only screen and (max-width: 400px){
    .EnlacesFooter{
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .EnlacesFooter a{
      font-size: 50%;
      width: 33.33%;
      text-align: center;
    }
    .EnlacesFooter h2{
      font-size: 55%;
    }
  
    .EnlacesFooter a:hover{
      font-size: 65%;
    }
  
    .EnlacesFooter a:after{
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      -webkit-transform: translateX(-50%) scaleX(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      width: 75%;
      height: 1px;
    }

    #DIViconos{
      width: 70%;
      font-size:20px;
  }
  
  #DIViconos a{
      width:40px;
      height:40px;
  }
  }
/*FIN FOOTER RESPONSIVE*/