@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    text-size-adjust: auto;
}

.main{
    background-color: #ffffff;
}
body{
    font-family: "Poppins", serif;
    font-size: 20px;
    background-color: #ffffff;
}

#Cabecera{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#Usuario{
    width: 14%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}
#CarroCompras{
    width: 50%;
}
#InicioSesion{
    width: 50%;
}
#Titulo{
    color: #03233A;
    font-family: "Poppins", serif;
    width: 100%;
    padding-top: 3%;
    text-align: center;
}




#Banner{
    min-width: 100%;
    text-align: center;
    background-position: center;
    /*background-size: contain;*/
    font-family: Helvetica;
    background-color: #ffffff;
}

.articulos{
    overflow:hidden;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto 0px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #ffffff;
}

.articulos article{
    display: inline-flex;
    justify-content: center;
    width: calc(33.333% - 4%);
    margin: 2%;
    height: width;
    background-color: #ffffff;
}

#Medicina{
 
    box-shadow: 0px 0px 15px 0px rgba(23, 80, 224, 0.575);
}

#Cosmetico{
    box-shadow: 0px 0px 15px 0px rgb(179, 32, 32);
}

.articulos > article > .Informacion{
    display: none;
}

.articulos > article:hover > .Informacion{
    display: block;
    width: 90%;
    height: 100%;
    background-color: #ffffff;
    color: black;
}


/*----------------------------------------Media Query--------------------------------------------------*/

#PiePagina{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*height: 180px;*/
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

}
#Ubicacion{
    padding: 10px;
    width: 55%;
    background-color: #F2F2F2;
    font-family: "Poppins", serif;
    color: black;
}

#Enlaces{
    width: 35.1%;
    padding: 10px;
    background-color: #F2F2F2;
    font-family: "Poppins", serif;
    color: black;
    display: flexbox;
}
.AcercaDe{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.social-icon{
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
}
.icono_footer{
    width: 15%;
}

.text_footer{
    width: 85%;
    font-family:'Poppins', serif;
    font-size: 80%;
    padding-left: 5%;
}

@media only screen and (max-width: 955px){
    .social-icon{
        height: 36px;
        width: 36px;
    }   
    .social-icon:hover {
        color: #4481eb;
        border-color: #4481eb;
    }   
    .text_footer{
        font-size: 70%;
    }
}
/*Prueba Hover*/
/* Efecto Rectangular Inicio */
.overlayone{ /* Propiedades de imagen */
    margin:0px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0px;
    width: 100%; /* medida ancho rectangulo */
    height: 100%; /* medida alto rectangulo */
    display: inline-block;
    position: relative;
    }
    .overlayinn { /* Propiedades de la transparencia */
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; /* ancho del contenedor de texto */
    height: 100%; /* alto del contenedor de texto */
    top: 0px; /*distancia hacia abajo*/
    left: 0px; /*distancia hacia la derecha*/
    opacity: 0; /* esta condicion mantiene el texto oculto */
    position: absolute;
    padding: 0px; /* espacio entre texto y bordes */
    transition: opacity .9s;
    text-align: center; /* texto centrado */
    font-family: Helvetica, Arial;
    font-size: 16px; /* tamaño de letra */
    color:#ffffff; /* color de texto */
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .overlayinn:hover { /* Efecto al pasar el mouse */
    opacity: 1;
    transition: opacity .9s;
    }
    /* Efecto Rectangular final */
@media only screen and (max-width: 724px){
    .social-icon{
        height: 30px;
        width: 30px;
    }   
    .social-icon:hover {
        color: #4481eb;
        border-color: #4481eb;
    }   
    .text_footer{
        font-size: 50%;
        padding-left: 10%;
    }
    .overlayinn { /* Propiedades de imagen */
        font-size: 10px;
        }
}
#Enlaces > h2, #Ubicacion > h2{
    font-family: "Poppins", serif;
    font-size: 100%;
}

/*
i{
    display: block;
    width: 100%;
    height: 30px;
    padding-top: 15px;
    font-family: "Poppins", serif;
}
*/
#Copyright{
    width: 100%;
    /*height: 30px;*/
    color: #ffffff;
    text-align: center;
    background-color: #09558F;
}



    