
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    text-size-adjust: auto;
}

.OfertasHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.HeadEncabezado{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.EncabezadoOfertas{
    text-align: center;
    font-family: 'Poppins', serif;
    font-size: 250%;
    color: #24345F;
}

.OHimagen{
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
}

.Publicar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #24345F;

}

.DescripcionOfertas{
    background-color: #24345F;
}

/*.BotonPublicar{
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    color: white;
}

.BotonPublicarOferta{
    width: 30%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: #1e295c;
}*/

.Botones {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content: space-around;
    background-color: #24345F; 
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .BotonPublicar{
      width: 50%;
      text-align: center;
      font-family: 'Poppins', Helvetica;
      font-size: 180%;
      color: white;
  }
  
  .ContenedorBotonPublicar { 
      width: 50%; 
        display: flex;
       justify-content: center;
        align-items: center;
  }
  
  
  .BotonPublicarOferta {
      text-align: center;
      padding-bottom: 2%;
      padding-top: 2%;
      width: 50%;
      cursor: pointer;
      font-family: 'Poppins', Helvetica;
      color: #FFF;
      font-size: 140%;
      transition: all 0.3s;
      position: relative;
      text-decoration: none;
  }
  .BotonPublicarOferta{
      transition: all 0.3s;
  }
  .BotonPublicarOferta::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: rgba(255,255,255,0.5);
      border-bottom-color: rgba(255,255,255,0.5);
      transform: scale(0.1, 1);
  }
  .BotonPublicarOferta:hover span {
      letter-spacing: 0.2em;
  }
  .BotonPublicarOferta:hover::before {
      opacity: 1;	
      transform: scale(1, 1);	
  }
  .BotonPublicarOferta::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(255,255,255,0.1);
  }
  .BotonPublicarOferta:hover::after {
      opacity: 0;	
      transform: scale(0.1, 1);
  }
  

.FiltroOfertas{
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
}


.PremiumOferta{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    padding-left: 10%;
    padding-top: 5%;
}

.TextoPremium{
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;   
    color: rgb(63, 63, 63); 
}

.ContenedorTextoPremium{
	padding-bottom: 2%;
}

.TituloOfertas{
    padding-top: 5%;
    text-align: center;
    font-family: 'Poppins', serif;
    font-size: 250%;
    color: #24345F;
}

.BotonPremiumOferta{
    font-size: 1.3vw;
    margin: 0.5vw 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 800;
    color: white;
    background-color: #24345F;
    padding: 1vw 3vw;
    border: 0.3vw solid #24345F;
    border-radius: 2.5vw;
    transition: all .3s ease-out;
}

.BotonPremiumOferta:hover{
    background: transparent;
    color: #24345F;
    transition: all .3s ease-out;
}

/*.ListaOfertas img {
    transition: all .5s ease;
}

.ListaOfertas img:hover {
    transform: scale(1.1);
    z-index: 100;
}*/

.Descripcion {
    display: block;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', Helvetica;
    font-size: 110%;
}


#ReferenciasOfertas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;

}

.EmpresasDestacada{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
}

.TituloED{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    color: #24345F;
}

.Testimonios{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
}

.TituloT{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    color: #24345F;
}

/* INICIO CARDS OFERTAS
.ContenedorOfertas{
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
   flex-wrap: wrap;
}

.ContenedorOfertas .Contenedor-Individual{
    height: 35vw;
    width: 25%;
    padding: 2%;
    padding-bottom: 0;
    padding-top: 0;
    
}
.OfertasIndividuales{
    height: 73%;
    width: 95%;
    margin-bottom: 0;
    overflow: hidden;
    box-shadow: 0 1px 20px rgba(0, 0, 0, .3);
    transition: 0.2s;
    border-radius: 1.1vw;
}
.OfertasIndividuales img{
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
    
}

.box-datos{
    height: 24vw;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .4s;
}


.box-datos h1{
    font-size: 1.1vw;
   
}
.box-datos h2{
    font-size: 1.1vw;
}
.box-datos h1,h2{
    font-family: 'Poppins', serif;
    text-align: center;
    color:  white;
    
}

.Box-Titulo{
    width: 100%;
    background-color: #24345F;
    padding-bottom: 5.5%;
    padding-top: 5.5%;
}

.Box-Descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 4%;
  
}
.Items-Descripcion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.Box-Descripcion h3{
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size: 1vw;
    width: 80%;
    color: #0F7CBF;
    padding-left: 2%;
    margin: 0;
}

.Box-Descripcion i{
    color: #24345F;
    font-size: 1.3vw;
    padding: 3%;
    border: #24345F solid;
    border-radius: 100%;
    border-width: thin;
}


.OfertasIndividuales:hover{
    box-shadow: 0 1px 15px rgba(0, 0, 0, .8);
}
.OfertasIndividuales:hover .box-datos{
    transform: translateY(-17vw);
}

.OfertasIndividuales:hover img {
    background-color: rgba(0, 0, 0, .1);
    opacity: 1;
    filter:brightness(0.7);
    transform: scale(1.4);
}
.btnAplicar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.btnAplicar button{
    width: 50%; 
    height: 2.2vw; 
    border: none;
    cursor: pointer;
    font-family: 'Poppins', serif;
    background-color: #24345F;
    color: white;
    transition: 0.3s;
    font-size: 1vw;
}

.btnAplicar button:hover{
    width: 60%;    
    letter-spacing: 0.1vw;
    background-color: #0F7CBF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
}

FINAL CARDS OFERTAS*/

/*NUEVAS CARDS OFERTAS*/
.cardOfertas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardForma{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardSemicirculo{
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, .3);
}

.cardCuadrado{
    margin-top: -10vw;
    width: 30vw;
  
    border-radius: 4vw;
    background-color: white;
    box-shadow: 0px 20px 15px 2px rgba(0, 0, 0, .3);
}

/*FIN NUEVAS CARDS OFERTAS*/

.contenedorOfertas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cards-Ofertas{
    width: 19%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 1%;
    margin-bottom: 5%;
}

.cards-Individuales{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards-Ofertas > img{
    position: absolute;
    z-index: -1;
    width: 19%;
    filter:drop-shadow(0px 0.4vw 0.4vw rgba(0, 0, 0, 0.4));
}

.logoEmpresa{
    margin-top: 0.5vw;
    margin-right: 0.4vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoEmpresa img{
    width: 35%;
    padding: 3%;
    border-radius: 100%;
    background-color: #24345F;
}

.ofertaDescripcion{
    margin-top: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ofertaDescripcion h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: 800;
}

.ofertaDescripcion h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    font-weight: 600;
    color: black;
}

.ofertaDescripcion p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    font-weight: 500;
    color: black;
    padding: 5% 8%;
}

.contenedorDescripcion{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .contenedorDescripcion h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9vw;
        font-weight: 600;
        color: black;
    }

    .descripcionIcono{
        width: 100%;
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 2%;
    }

    .contenedorIcono{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    .contenedorIcono img{
        width: 30%;
    }

    .contenedorBoton{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }

    .contenedorBoton a{
		font-size: 0.8vw;
		margin: 0.5vw 0 0;
		display:  inline-block;
		text-decoration: none;
		font-weight: 800;
		color: white;
		background-color: #24345F;
		padding: 0.3vw 2.5vw;
		border: 0.2vw solid #24345F;
		border-radius: 2.5vw;
		transition: all .3s ease-out;
	}
	
	.contenedorBoton a:hover{
		background: transparent;
		color: #24345F;
		transition: all .3s ease-out;
	}

@media (max-width: 1100px){
    .Descripcion {
        font-size: 90%;
    }
    .BotonPublicar{
        font-size: 150%;
    }
}

@media (max-width: 950px){
    .Descripcion {
        font-size: 100%;
    }

    .EncabezadoOfertas{
        font-size: 200%;
    }

    .BotonPublicar{
        font-size: 130%;
    }

    .BotonPublicarOferta{
        font-size: 110%;
    }

    .TextoPremium{
        font-size: 90%;   
    }

    .BotonPremium{
        font-size: 90%;
    }
    
    .TituloOfertas{
        font-size: 200%;
    }

    .ListaOfertas {
        width: calc(50% - 8%);
        margin: 4%;
    }
}

@media (max-width: 740px){
    .BotonPublicar{
        font-size: 110%;
    }
    .Descripcion {
        font-size: 80%;
    }

}
@media (max-width: 590px){
    .Descripcion {
        font-size: 60%;
    }

    .EncabezadoOfertas{
        font-size: 140%;
    }

    .BotonPublicar{
        font-size: 90%;
    }

    .BotonPublicarOferta{
        font-size: 90%;
    }

    .TextoPremium{
        font-size: 70%;   
    }

    .BotonPremium{
        font-size: 70%;
    }
    
    .TituloOfertas{
        font-size: 160%;
    }

    .ListaOfertas {
        width: calc(50% - 8%);
        margin: 4%;
    }
}

@media (max-width: 480px){
    .OfertasHead{
        padding-top: 40%;
    }
    .Descripcion {
        font-size: 50%;
    }

    .EncabezadoOfertas{
        font-size: 110%;
    }

    .BotonPublicar{
        font-size: 75%;
    }

    .BotonPublicarOferta{
        font-size: 50%;
    }

    .TextoPremium{
        font-size: 50%;   
    }

    .BotonPremium{
        font-size: 50%;
    }
    
    .TituloOfertas{
        font-size: 120%;
    }

    .ListaOfertas {
        width: calc(50% - 4%);
        margin: 2%;
    }
}

/*CARDS RESPONSIVE*/
@media only screen and (max-width: 850px){
    .cards-Ofertas{
        width: 26%;
        margin: 2%;
        margin-bottom: 15%;
    }
    
    .cards-Ofertas > img{
        width: 26%;
        filter:drop-shadow(0px 0.4vw 0.4vw rgba(0, 0, 0, 0.4));
    }
    
    .logoEmpresa{
        margin-top: 2vw;
    }
    
    .ofertaDescripcion{
        margin-top: 0.8vw;
    }
    
    .ofertaDescripcion h1{
        font-size: 2vw;
    }
    
    .ofertaDescripcion h2{
        font-size: 1.5vw;
    }
    
    .ofertaDescripcion p{
        font-size: 1.3vw;
        padding: 4% 8%;
    }
    
    
        .contenedorDescripcion h1{
            font-size: 1.3vw;
        }
    
    
        .contenedorIcono img{
            width: 32%;
        }
    
        .contenedorBoton{
            margin-bottom: 10%;
        }
    
        .contenedorBoton a{
            font-size: 1.2vw;
            margin: 0.5vw 0 0;
            padding: 0.3vw 2.5vw;
            border: 0.3vw solid #24345F;
        }
}


@media only screen and (max-width: 550px){
    .cards-Ofertas{
        width: 38%;
        margin: 3%;
        margin-bottom: 2%;
    }
    
    .cards-Ofertas > img{
        width: 38%;
        filter:drop-shadow(0px 0.4vw 0.4vw rgba(0, 0, 0, 0.4));
    }
    
    .logoEmpresa{
        margin-top: 3.4vw;
    }
    
    .ofertaDescripcion{
        margin-top: 0.8vw;
    }
    
    .ofertaDescripcion h1{
        font-size: 3vw;
    }
    
    .ofertaDescripcion h2{
        font-size: 2.2vw;
    }
    
    .ofertaDescripcion p{
        font-size: 1.9vw;
        padding: 4% 8%;
        padding-bottom: 2%;
    }
    
    
        .contenedorDescripcion h1{
            font-size: 1.8vw;
        }
    
    
        .contenedorIcono img{
            width: 35%;
        }
    
        .contenedorBoton{
            margin-bottom: 10%;
        }
    
        .contenedorBoton a{
            font-size: 1.8vw;
            margin: 0.5vw 0 0;
            padding: 0.5vw 3.5vw;
            border: 0.4vw solid #24345F;
        }
}
/*FIN CARDS RESPONSIVES*/