@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    text-size-adjust: auto;
}

.Cabecera{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EncabezadoPublica{
    font-family: 'Poppins', serif;
    font-size: 300%;
    text-align: center;
    color: #24345F;
}

.InfoPublica{
    padding-top: 2%;
    font-family: 'Poppins', serif;
    font-size: 150%;
    text-align: center;
    color:  #0F7CBF;
}

button{
    width: 30%;
    height: 30%;
}

#AcercaDeCabecera{
    background-color: #24345F;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: white;
    line-height: 250%;
    font-size: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-right: 15%;
}



.AcercaDe{
    padding-top: 8%;
    padding-bottom: 8%;
}

.ADinfo1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}


.ADinfo2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ADimagen{
  
    width: 50%;
    padding-right: 8%;
    padding-left: 8%;
}

.ADtexto{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
}

.ADtitle{
    font-family: 'Poppins', serif;
    font-size: 200%;
    text-align: center;
    color: #24345F;
}

.ADabout{
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    text-align: justify;
    line-height: 160%;
}

.ContenedorPasantia{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;
}

.BotonPasantia {
width: 30%;
overflow: hidden;
display: flex;
flex-direction: row;
align-items: center;
font-family: 'Open Sans Condensed', sans-serif;
justify-content: center;
background-color: #24345F; 
padding-top: 1%;
padding-bottom: 1%;
}



.BotonPublicarPasantia {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 90%;
  cursor: pointer;
  font-family: 'Poppins', Helvetica;
  color: #FFF;
  font-size: 140%;
  transition: all 0.3s;
  position: relative;
  text-decoration: none;
}
.BotonPublicarPasantia{
  transition: all 0.3s;
}
.BotonPublicarPasantia::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.BotonPublicarPasantia:hover span {
  letter-spacing: 0.2em;
}
.BotonPublicarPasantia:hover::before {
  opacity: 1;	
  transform: scale(1, 1);	
}
.BotonPublicarPasantia::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.BotonPublicarPasantia:hover::after {
  opacity: 0;	
  transform: scale(0.1, 1);
}

/*BAJAR LA CABECERA CUANDO EL MENU DE NAVEGACION SE DESPLIEGUE MEDIANTE UN ICCONO*/

@media (max-width: 920px){
    .Cabecera{
        padding-top: 15%;
    }

    button{
        width: 40%;
        font-size: 180%;
    }
    #AcercaDeCabecera{
        font-size: 65%;
    }
    .ADtitle{
        font-size: 190%;
    }
    
    .ADabout{
        font-size: 130%;
    }
}
 /*DESPLEGAR IMAGENES Y TEXTO A PANTALLA COMPLETA AL DISMINUIR EL TAMA;O DE LA PANTALLA*/
@media (max-width: 760px){
    .ADinfo1{
        flex-direction: column;
    }
    .ADinfo2{
        flex-direction: column-reverse;
    }
    .ADimagen{
  
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .ADtexto{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .EncabezadoPublica{
        font-size: 250%;
    }
    
    .InfoPublica{
        font-size: 120%;
    }
    button{
        width: 50%;
        font-size: 160%;

    }
    #AcercaDeCabecera{
        font-size: 55%;
    }
    .ADtitle{
        padding-top: 3%;
    }
    
}
@media (max-width: 620px){
    button{
        width: 60%;
        font-size: 140%;
    }
    #AcercaDeCabecera{
        font-size: 45%;
    }
}

/*sSE REDUCE EL TAMA;O DE LA FUENTE CUANDO ESTA NO ALCANZA EN PANTALLA*/

@media (max-width: 470px){
    .Cabecera{
        padding-top: 25%;
    }

    .EncabezadoPublica{
        font-size: 200%;
    }
    
    .InfoPublica{
        font-size: 100%;
    }
    button{
        width: 65%;
        font-size: 130%;
    }
    #AcercaDeCabecera{
        font-size: 40%;
    }
}

@media (max-width: 380px){
    .Cabecera{
        padding-top: 35%;
    }

    .EncabezadoPublica{
        font-size: 180%;
    }
    
    .InfoPublica{
        font-size: 80%;
    }

    #AcercaDeCabecera{
        font-size: 35%;
    }
    button{
        width: 60%;
    }

    .ADabout{
        font-size: 100%;
    }
    
    .ADtitle{
        font-size: 120%;
    }
    button{
        width: 75%;
        font-size: 120%;
    }
}