/* Tables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
section.tables .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.alternate-table table td {
    border-right: 2px solid #f7f7f7;
}

.alternate-table table td:last-child {
    border-right: none;
}

table {
    width: 100%;
    height: 100%;
}

table tbody tr {
    border-left: 0;
    border-right: 0;
    border-bottom: 10px solid #f7f7f7;
}

table td {
    padding-left: 4%;
    padding-bottom: 1.5%;
    padding-right: 0%;
    padding-top: 1.5%;
}

table th {
    padding: 0px 18px 18px 18px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: capitalize;
}

@media screen and (max-width: 1400px) {
    table th {
        font-size: 15px;
    }
    table td {
        font-size: 15px;
    }
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

table tbody tr {
    background-color: #e7e7e7;
}

table tbody tr:nth-child(2n + 1) {
    background-color: #fff;
}

table th {
    color: #4a4a4a;
}