.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

}

.input-field {
    max-width: 800px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    margin-right: 25px;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #8a8a8a;
    transition: 0.5s;
    font-size: 2.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.searchBar button {
    width: 150px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: 3px solid #DB255D;
    color: #24345F;
    outline: none;
    height: 49px;
    border-radius: 49px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 900;
    margin-left: 25px;
}

.searchBar button:hover {
    background-color: #DB255D;
    color: #f0f0f0;
    transition: all 0.3s ease;
}

/***Responsive Navbar *******/
@media (max-width: 490px) {
    .searchBar{
        margin-left: 0%;
        margin-right: 0%;
    }
    .searchBar button{
        height: 39px;
        font-size: 0.8rem;
        padding: 5px;
        margin-left: 0px
    }
    .input-field i{
        font-size: 1.5rem;
    }
    .input-field input {
        font-size: 0.9rem;
    }
    #titulo{
        font-size: 1.5rem;
    }
}