@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Text:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

:root{
    --primary: #24345f;
    --second: #DB255D;
    --gris: #9c9a9a;
    --gris2: #817f7f;
    --sombra: 0 0 13px 0 rgba(88, 88, 88, 0.65);
}

* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    text-size-adjust: auto;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 500ms ease;
    flex-wrap: wrap;
}

.view_curso{
    width: 100%;
    margin-top: 80px;   
    background: rgb(241, 241, 241);
    padding: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.descripcion_contenido{
    width: 50%;
    height: 100%;
    padding: 50px 50px 50px 60px;
}

.descripcion_contenido h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary);
}

.descripcion_contenido ul li{
    margin-bottom: 15px;
    font-family: 'Poppins';
}

.btn_iniciar_curso{
    display: inline-block;
    padding: 2px;
    font-size: .6rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 3 ;
    margin: 0 .1rem;
    transition: .3s;
    text-transform: uppercase;
    width: 40%;
    background: #DB265D;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.btn_iniciar_curso:hover{
    color: white;
    background: var(--primary);
}

.img_contenido_curso{
    width: 50%;
    height: 100%;
    border-radius: 10px; 
}

.img_contenido_curso img{
    width: 100%;
    object-fit: cover;
}

.acerca_del_curso{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.acerca_curso{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.descripcion_del_curso{
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(219, 219, 219);
    border-left: 4px solid var(--second);

    display: flex;
    flex-wrap: wrap;
}

.descripcion_del_curso h4{
    color: var(--second);
}

.preguntas_curso{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(192, 192, 192);
}

.aprendizaje{
    width: 33%;
    padding: 10px;
    flex-wrap: wrap;
}
.conocimientos_curso{
    width: 33%;
    padding: 10px;
    flex-wrap: wrap;
}

.direccion_curso{
    width: 33%;
    padding: 10px;
    flex-wrap: wrap;
}


.content_perfil_cursos{
    width: 30%;
}

.perfil_user{
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(219, 219, 219);
    border-left: 4px solid var(--primary);
    color: var(--primary);
}

.img_docente{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.img_docente img{
    width: 40px;
}

.mas_cursos{
    width: 100%;
    height: 500px;
    border-left: 4px solid var(--gris);
    overflow: auto;
    font-family: 'Poppins';
    padding: 10px;
    border: 1px solid rgb(212, 212, 212);
    border-left: 5px solid var(--second);
}

.mas_cursos::-webkit-scrollbar {
    width: 7px;
}

.mas_cursos::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 5px;
}

.card_mas_cursos{
    width: 100%;
    display: flex;
}

.img_mas_cursos{
    width: 40%;
    padding: 5px;
}

.img_mas_cursos img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.title_docente{
    width: 60%;
    padding: 5px;
}

.title_docente i{
    color: orange;
}

.autor_del_curso{
    width: 100%;
    display: flex;
}

.autor_del_curso img{
    width: 25px;
}


@media (max-width: 1000px){
    .acerca_del_curso{
        display: block;
        width: 100%;
    }
    .descripcion_del_curso{
        width: 100%;
        padding: 10px;
    }

    .preguntas_curso{
        display: flex;
        flex-direction: column;
    }

    .aprendizaje{
        width: 100%;
    }
    .conocimientos_curso{
        width: 100%;
    }
    .direccion_curso{
        width: 100%;
    }
    .acerca_curso{
        width: 100%;
    }
    .view_curso{
        margin-top: 50px;
    }

    .descripcion_contenido{
        width: 100%;
        height:350px;
    }

    .img_contenido_curso{
        width: 100%;
        margin-top: 50px;
    }
    .content_perfil_cursos{
        width: 100%;
    }
    .perfil_user{
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}
